body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #E6EBE0;
    border-bottom: 4px solid #5D576B;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
main #cont-medio{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo_body.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cont-main{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
#text-boton{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#text-boton h1{
    color: #E6EBE0;
    font-size: 46px;
    font-weight: 400;
    margin-top: 55px;
    margin-bottom: 10px;
}
#text-boton p{
    color: #E6EBE0;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0;
}
#text-boton button{
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #ED6A5A;
    font-size: 18px;
    margin-top: 2rem;
    color:#F4F1BB;
    transition: all .7s ease;
    cursor: pointer;
}
#text-boton button:hover{
    background-color: #5D576B;
}
#text-boton button:focus{
    outline: none;
}
#cont-main a{
    color: #E6EBE0;
    text-decoration: none;
    position: absolute;
    top: 110%;
}
#contenedor{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-top: 8px;
    margin-bottom: 10px;
    
}
#img-logo{
    width: 250px;
    height: 80px;
    background-image: url(../img/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#menu nav *{
    box-sizing: border-box;
    transition: all 0.35s ease;
}
#menu nav ul li{
    display: inline-block;
    margin: .5em 1em;
    padding: 0;
    list-style: outside none none;
}
#menu nav a{
    padding: .5em 0.8em;
    color: #5D576B;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
}
#menu nav a:hover{
    color: #5D576B;
}
#menu nav a::before,
#menu nav a::after{
    content: '';
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 20px;
    transition: all 0.35s ease;
    opacity: 0;
}
#menu nav a::before{
    right: 0;
    top: 0;
    border-right: 3px solid #5D576B;
    border-top: 3px solid #5D576B;
    transform: translate(-100%,50%);
}
#menu nav a::after{
    left: 0;
    bottom: 0;
    border-left: 3px solid #5D576B;
    border-bottom: 3px solid #5D576B;
    transform: translate(100%,-50%);
}
#menu nav a:hover::before,
#menu nav a:hover::after{
    transform: translate(0%,0%);
    opacity: 1;
    
}

/*FOOTER*/
footer{
    
    width: 100%;
}
#contenedor-abajo{
    width: 100%;
    height: 100px;
    background-color: #5D576B;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor-abajo .caja{
    position: relative;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
    color: #E6EBE0;
    overflow: hidden;
}
#contenedor-abajo .caja:last-child{
    border: none;
}
#contenedor-abajo .caja .icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    transition: .5s;
}
#contenedor-abajo .caja .icono .fas{
    padding-right: 10px;
    transition: .5s;
}
#contenedor-abajo .caja:hover .icono{
    transform: translateY(-100%);
}
#contenedor-abajo .caja:hover .icono .fas{
    transform: translateY(50px);
    font-size: 50px;
    opacity: .1;
    transition-delay: .1s;
    z-index: -1;
}
#contenedor-abajo .caja .detalle{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: 0.5s;
    font-size: 20px;
}
#contenedor-abajo .caja:hover .detalle{
    transform: translateY(0);
}


